.default-btn{
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.danger-btn{
  /* stable: tz-danger-btn */
  background: red;
  color: #fff;
}
.warn-btn{
  /* stable: tz-warn-btn */
  background: yellow;
  color: #fff;
}